# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE & Editor specific
.vscode/
.idea/

# Local files
system_analysis.db
parser.log

# Report & output files
/reports/
*.xlsx

# Virtual environment
venv/
.venv/
env/
.env