# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.spec

# IDE & Editor specific
.vscode/
.idea/

# Local files
system_analysis.db
parser.log
config.ini

# Report & output files
/reports/
*.xlsx

# Virtual environment
venv/
.venv/
env/
.env

# Build artifacts
/build/
/dist/